In [1]:
import numpy as np
import pandas as pd
import pickle
from sklearn.preprocessing import StandardScaler
from sklearn.base import BaseEstimator, TransformerMixin

In [2]:
data_preprocessed=pd.read_csv('Absenteeism_preprocessed.csv')

In [3]:
data_preprocessed

,reason1,reason2,reason3,reason4,Month Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,40,237.656,22,1,2,0,8
696,1,0,0,0,5,2,225,26,28,237.656,24,0,1,2,3
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0,8
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0,2
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1,2

In [4]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [5]:
targets=np.where(data_preprocessed['Absenteeism Time in Hours']>data_preprocessed['Absenteeism Time in Hours'].median(),1,0)
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [6]:
data_preprocessed['Excessive Absenteeism']=targets

In [7]:
data_preprocessed

,reason1,reason2,reason3,reason4,Month Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,40,237.656,22,1,2,0,8,1
696,1,0,0,0,5,2,225,26,28,237.656,24,0,1,2,3,0
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0,8,1
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0,2,0
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1,2,0

In [8]:
targets.sum()/targets.shape[0]

0.45571428571428574

In [9]:
data_preprocessed=data_preprocessed.drop(['Absenteeism Time in Hours','Daily Work Load Average','Distance to Work'],axis=1)
unscaled_inputs=data_preprocessed.iloc[:,:-1]
unscaled_inputs

,reason1,reason2,reason3,reason4,Month Value,Day of the week,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,1,289,33,30,0,2,1
1,0,0,0,0,7,1,118,50,31,0,1,0
2,0,0,0,1,7,2,179,38,31,0,0,0
3,1,0,0,0,7,3,279,39,24,0,2,0
4,0,0,0,1,7,3,289,33,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,40,22,1,2,0
696,1,0,0,0,5,2,225,28,24,0,1,2
697,1,0,0,0,5,3,330,28,25,1,0,0
698,0,0,0,1,5,3,235,32,25,1,0,0
699,0,0,0,1,5,3,291,40,25,0,1,1

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
class CustomScaler(BaseEstimator,TransformerMixin): 
    
    def __init__(self,columns,copy=True,with_mean=True,with_std=True):
        self.scaler = StandardScaler()
        self.columns = columns
        self.mean_ = None
        self.var_ = None

    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.array(np.mean(X[self.columns]))
        self.var_ = np.array(np.var(X[self.columns]))
        return self

    def transform(self, X, y=None, copy=None):
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [12]:
unscaled_inputs.columns.values

array(['reason1', 'reason2', 'reason3', 'reason4', 'Month Value',
       'Day of the week', 'Transportation Expense', 'Age',
       'Body Mass Index', 'Education', 'Children', 'Pets'], dtype=object)

In [13]:
columns_to_scale=[ 'Month Value',
        'Transportation Expense', 'Age',
       'Body Mass Index', 'Education', 'Children', 'Pets']

In [14]:
absenteeism_scale=CustomScaler(columns_to_scale)

In [15]:
absenteeism_scale.fit(unscaled_inputs)
scaled_inputs = absenteeism_scale.transform(unscaled_inputs)

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test=train_test_split(scaled_inputs,targets,train_size=0.8,random_state=20)

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
reg=LogisticRegression()

In [20]:
reg.fit(x_train,y_train)

LogisticRegression()

In [21]:
reg.score(x_train,y_train)

0.775

In [22]:
model_outputs=reg.predict(x_train)
model_outputs

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0])

In [23]:
y_train

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0])

In [24]:
np.sum((model_outputs==y_train))/model_outputs.shape[0]

0.775

In [25]:
reg.coef_

array([[ 2.79988218,  0.93534521,  3.09632467,  0.85318008,  0.16640374,
        -0.05777182,  0.611268  , -0.1647515 ,  0.26892738, -0.08036821,
         0.36096419, -0.28638684]])

In [26]:
reg.intercept_

array([-1.57217553])

In [27]:
feature_name=unscaled_inputs.columns.values
feature_name

array(['reason1', 'reason2', 'reason3', 'reason4', 'Month Value',
       'Day of the week', 'Transportation Expense', 'Age',
       'Body Mass Index', 'Education', 'Children', 'Pets'], dtype=object)

In [28]:
summary_table=pd.DataFrame(columns=['Feature Name'],data=feature_name.T)
summary_table

              Feature Name
0                  reason1
1                  reason2
2                  reason3
3                  reason4
4              Month Value
5          Day of the week
6   Transportation Expense
7                      Age
8          Body Mass Index
9                Education
10                Children
11                    Pets

In [29]:
summary_table['coefficient']=np.transpose(reg.coef_)
summary_table

              Feature Name  coefficient
0                  reason1     2.799882
1                  reason2     0.935345
2                  reason3     3.096325
3                  reason4     0.853180
4              Month Value     0.166404
5          Day of the week    -0.057772
6   Transportation Expense     0.611268
7                      Age    -0.164751
8          Body Mass Index     0.268927
9                Education    -0.080368
10                Children     0.360964
11                    Pets    -0.286387

In [30]:
summary_table.index=summary_table.index+1
summary_table.loc[0]=['Intercept',reg.intercept_[0]]

In [31]:
summary_table.sort_index()

              Feature Name  coefficient
0                Intercept    -1.572176
1                  reason1     2.799882
2                  reason2     0.935345
3                  reason3     3.096325
4                  reason4     0.853180
5              Month Value     0.166404
6          Day of the week    -0.057772
7   Transportation Expense     0.611268
8                      Age    -0.164751
9          Body Mass Index     0.268927
10               Education    -0.080368
11                Children     0.360964
12                    Pets    -0.286387

In [32]:
summary_table['Odds ratio']=np.exp(summary_table['coefficient'])
summary_table

              Feature Name  coefficient  Odds ratio
1                  reason1     2.799882   16.442709
2                  reason2     0.935345    2.548093
3                  reason3     3.096325   22.116516
4                  reason4     0.853180    2.347099
5              Month Value     0.166404    1.181050
6          Day of the week    -0.057772    0.943865
7   Transportation Expense     0.611268    1.842767
8                      Age    -0.164751    0.848104
9          Body Mass Index     0.268927    1.308560
10               Education    -0.080368    0.922777
11                Children     0.360964    1.434712
12                    Pets    -0.286387    0.750972
0                Intercept    -1.572176    0.207593

In [33]:
summary_table.sort_values(by='Odds ratio',ascending=False)

              Feature Name  coefficient  Odds ratio
3                  reason3     3.096325   22.116516
1                  reason1     2.799882   16.442709
2                  reason2     0.935345    2.548093
4                  reason4     0.853180    2.347099
7   Transportation Expense     0.611268    1.842767
11                Children     0.360964    1.434712
9          Body Mass Index     0.268927    1.308560
5              Month Value     0.166404    1.181050
6          Day of the week    -0.057772    0.943865
10               Education    -0.080368    0.922777
8                      Age    -0.164751    0.848104
12                    Pets    -0.286387    0.750972
0                Intercept    -1.572176    0.207593

In [34]:
reg.score(x_test,y_test)

0.7428571428571429

In [35]:
predicted_proba=reg.predict_proba(x_test)
predicted_proba

array([[0.73645446, 0.26354554],
       [0.60866226, 0.39133774],
       [0.41135756, 0.58864244],
       [0.80340301, 0.19659699],
       [0.07228579, 0.92771421],
       [0.3164599 , 0.6835401 ],
       [0.31285946, 0.68714054],
       [0.13360905, 0.86639095],
       [0.79765425, 0.20234575],
       [0.75065661, 0.24934339],
       [0.48084035, 0.51915965],
       [0.19792873, 0.80207127],
       [0.07763508, 0.92236492],
       [0.71035264, 0.28964736],
       [0.30669496, 0.69330504],
       [0.57535995, 0.42464005],
       [0.54013184, 0.45986816],
       [0.5711829 , 0.4288171 ],
       [0.38179745, 0.61820255],
       [0.04840317, 0.95159683],
       [0.69821798, 0.30178202],
       [0.79411798, 0.20588202],
       [0.39566497, 0.60433503],
       [0.42359877, 0.57640123],
       [0.26620227, 0.73379773],
       [0.75660355, 0.24339645],
       [0.51411974, 0.48588026],
       [0.86879099, 0.13120901],
       [0.1995932 , 0.8004068 ],
       [0.78451205, 0.21548795],
       [0.6262561 , 0.3737439 ],
       [0.31312106, 0.68687894],
       [0.30845829, 0.69154171],
       [0.45718114, 0.54281886],
       [0.79411798, 0.20588202],
       [0.49268926, 0.50731074],
       [0.78987755, 0.21012245],
       [0.25620771, 0.74379229],
       [0.5641895 , 0.4358105 ],
       [0.40750078, 0.59249922],
       [0.77278834, 0.22721166],
       [0.56609014, 0.43390986],
       [0.78362871, 0.21637129],
       [0.60374681, 0.39625319],
       [0.18475438, 0.81524562],
       [0.4299262 , 0.5700738 ],
       [0.30862   , 0.69138   ],
       [0.72508948, 0.27491052],
       [0.79789865, 0.20210135],
       [0.81797987, 0.18202013],
       [0.40800078, 0.59199922],
       [0.65724685, 0.34275315],
       [0.32908707, 0.67091293],
       [0.713989  , 0.286011  ],
       [0.14980939, 0.85019061],
       [0.52886423, 0.47113577],
       [0.10982469, 0.89017531],
       [0.74499408, 0.25500592],
       [0.68203925, 0.31796075],
       [0.68426049, 0.31573951],
       [0.28052985, 0.71947015],
       [0.3396606 , 0.6603394 ],
       [0.6893949 , 0.3106051 ],
       [0.21260427, 0.78739573],
       [0.80178162, 0.19821838],
       [0.73245173, 0.26754827],
       [0.91759741, 0.08240259],
       [0.7700589 , 0.2299411 ],
       [0.27180658, 0.72819342],
       [0.66975068, 0.33024932],
       [0.78987755, 0.21012245],
       [0.70584788, 0.29415212],
       [0.09155485, 0.90844515],
       [0.56259989, 0.43740011],
       [0.38045439, 0.61954561],
       [0.78451205, 0.21548795],
       [0.21347901, 0.78652099],
       [0.29608159, 0.70391841],
       [0.23421598, 0.76578402],
       [0.31935804, 0.68064196],
       [0.7547088 , 0.2452912 ],
       [0.92023816, 0.07976184],
       [0.77650343, 0.22349657],
       [0.27045169, 0.72954831],
       [0.58637021, 0.41362979],
       [0.87705225, 0.12294775],
       [0.30057004, 0.69942996],
       [0.43776308, 0.56223692],
       [0.76666789, 0.23333211],
       [0.32567848, 0.67432152],
       [0.83780986, 0.16219014],
       [0.87705061, 0.12294939],
       [0.77637186, 0.22362814],
       [0.70921072, 0.29078928],
       [0.77165165, 0.22834835],
       [0.13313912, 0.86686088],
       [0.7271303 , 0.2728697 ],
       [0.21379469, 0.78620531],
       [0.77393801, 0.22606199],
       [0.76560288, 0.23439712],
       [0.37171463, 0.62828537],
       [0.30083181, 0.69916819],
       [0.29124707, 0.70875293],
       [0.30306316, 0.69693684],
       [0.53143718, 0.46856282],
       [0.48141188, 0.51858812],
       [0.74557149, 0.25442851],
       [0.15444327, 0.84555673],
       [0.22315317, 0.77684683],
       [0.84857175, 0.15142825],
       [0.92693996, 0.07306004],
       [0.09673676, 0.90326324],
       [0.35636807, 0.64363193],
       [0.64587282, 0.35412718],
       [0.44699432, 0.55300568],
       [0.39762895, 0.60237105],
       [0.19645423, 0.80354577],
       [0.19624632, 0.80375368],
       [0.47596318, 0.52403682],
       [0.70037585, 0.29962415],
       [0.76317231, 0.23682769],
       [0.82841932, 0.17158068],
       [0.17092749, 0.82907251],
       [0.52313373, 0.47686627],
       [0.78451205, 0.21548795],
       [0.61526731, 0.38473269],
       [0.80177713, 0.19822287],
       [0.8806122 , 0.1193878 ],
       [0.2511673 , 0.7488327 ],
       [0.68590735, 0.31409265],
       [0.34233544, 0.65766456],
       [0.79243515, 0.20756485],
       [0.678966  , 0.321034  ],
       [0.65539144, 0.34460856],
       [0.70724682, 0.29275318],
       [0.49012455, 0.50987545],
       [0.55697821, 0.44302179],
       [0.69695999, 0.30304001],
       [0.74218706, 0.25781294],
       [0.56259989, 0.43740011]])

In [36]:
predicted_proba[:,1:]

array([[0.26354554],
       [0.39133774],
       [0.58864244],
       [0.19659699],
       [0.92771421],
       [0.6835401 ],
       [0.68714054],
       [0.86639095],
       [0.20234575],
       [0.24934339],
       [0.51915965],
       [0.80207127],
       [0.92236492],
       [0.28964736],
       [0.69330504],
       [0.42464005],
       [0.45986816],
       [0.4288171 ],
       [0.61820255],
       [0.95159683],
       [0.30178202],
       [0.20588202],
       [0.60433503],
       [0.57640123],
       [0.73379773],
       [0.24339645],
       [0.48588026],
       [0.13120901],
       [0.8004068 ],
       [0.21548795],
       [0.3737439 ],
       [0.68687894],
       [0.69154171],
       [0.54281886],
       [0.20588202],
       [0.50731074],
       [0.21012245],
       [0.74379229],
       [0.4358105 ],
       [0.59249922],
       [0.22721166],
       [0.43390986],
       [0.21637129],
       [0.39625319],
       [0.81524562],
       [0.5700738 ],
       [0.69138   ],
       [0.27491052],
       [0.20210135],
       [0.18202013],
       [0.59199922],
       [0.34275315],
       [0.67091293],
       [0.286011  ],
       [0.85019061],
       [0.47113577],
       [0.89017531],
       [0.25500592],
       [0.31796075],
       [0.31573951],
       [0.71947015],
       [0.6603394 ],
       [0.3106051 ],
       [0.78739573],
       [0.19821838],
       [0.26754827],
       [0.08240259],
       [0.2299411 ],
       [0.72819342],
       [0.33024932],
       [0.21012245],
       [0.29415212],
       [0.90844515],
       [0.43740011],
       [0.61954561],
       [0.21548795],
       [0.78652099],
       [0.70391841],
       [0.76578402],
       [0.68064196],
       [0.2452912 ],
       [0.07976184],
       [0.22349657],
       [0.72954831],
       [0.41362979],
       [0.12294775],
       [0.69942996],
       [0.56223692],
       [0.23333211],
       [0.67432152],
       [0.16219014],
       [0.12294939],
       [0.22362814],
       [0.29078928],
       [0.22834835],
       [0.86686088],
       [0.2728697 ],
       [0.78620531],
       [0.22606199],
       [0.23439712],
       [0.62828537],
       [0.69916819],
       [0.70875293],
       [0.69693684],
       [0.46856282],
       [0.51858812],
       [0.25442851],
       [0.84555673],
       [0.77684683],
       [0.15142825],
       [0.07306004],
       [0.90326324],
       [0.64363193],
       [0.35412718],
       [0.55300568],
       [0.60237105],
       [0.80354577],
       [0.80375368],
       [0.52403682],
       [0.29962415],
       [0.23682769],
       [0.17158068],
       [0.82907251],
       [0.47686627],
       [0.21548795],
       [0.38473269],
       [0.19822287],
       [0.1193878 ],
       [0.7488327 ],
       [0.31409265],
       [0.65766456],
       [0.20756485],
       [0.321034  ],
       [0.34460856],
       [0.29275318],
       [0.50987545],
       [0.44302179],
       [0.30304001],
       [0.25781294],
       [0.43740011]])

In [37]:
import pickle

In [38]:
with open ('model','wb') as file:
    pickle.dump(reg,file)
with open ('scaler','wb') as file:
    pickle.dump(absenteeism_scale,file)